/*Genral Style Rules*/
*{
	margin: 0;

}
html{
	font:normal 16px sans-serif;
	color: #555;
}
body{
		background-color: #2f2b37;

}

nav{
	display: flex;
	color:white;
}

header h2{
	padding: 20px 20px;
}
a{
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	opacity: 1;
}
a:hover{
	opacity: 1;
	color: #fff;
	text-decoration: none;
}
/*Styling the Header*/
header{
	/*background:#14182f;*/
	color: #fff;
	position: sticky;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	/*padding: 35px 100px 0;*/
	animation:1s 0.5s fadein forwards;
}
p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
}
.nav-link{
	padding: 20px 20px;
}
.nav-link:active{

}
.nav-link:hover{
	cursor: pointer;
	background-color: blue;
}
@keyframes fadein{
	100%{
		opacity: 1;
	}
}
header nav{
	display: flex;
	margin-right:15px; 
}
header h2{
	font-family: "Quicksand", sans-serif;
}
header nav li{
	
}
/*End of Header Styling*/
/*Sticky class for Header*/
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  background:#14182f;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
/**/
/*Hero area*/
a.btn{
	/*transform: rotate(-15deg);*/
	border-radius: 4px;
	font-weight: bold;
	background:#14182f;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 3px 3px 9px 2px #14182f;
	opacity: 1;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 80px;

}
section p{
	max-width: 750px;
	line-height: 2;
	text-align:center;
	padding: 0 30px;
	margin-bottom: 30px;
}
.hero{
	color: #fff;
	position: relative;
	text-align: center;
	align-items: center;
	height: 100vh;
}
.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	/*background-color: #80a3db;*/
}
.hero h1{
	    color: #90cbff;
	    background: #000;
	    /*transform: rotate(-15deg);*/
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	background: #000;
	    /*transform: rotate(-15deg);*/
	    color: #90cbff;
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}


.hero .btn{
	padding: 20px 40px;
}
.hero-content-area{
	opacity: 0;
	margin-top: 30px;
	animation:slide-up 1s 0.4s ease-out forwards;
}
@keyframes slide-up{
	100%{
		opacity: 1;
		margin: 0;
	}
}
/*End of Hero Section*/
/*Image Slider*/
.carousel{
	width: 100%;
	margin: 20px auto;
	height: 600px;
	z-index: 2;
	flex-shrink: shrink;
	min-width: 500px;
	/*overflow: hidden;*/
	box-shadow: 0px 3px 7px 1px;
}
.carousel-inner{
	max-width: 100%;
	max-height: 100%;
}
.carousel-item img{
	width: 100%;
	height: 95%;
}
.carousel-caption{
	font-size: 8px;
/*	position: relative;*/
}
.info{
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .1rem;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.51rem;
	color: #fff;
}
/*End of Image Slider Section*/
section:not(.hero):nth-child(odd){
	background-color: #ec3312b5;
}
/*Begin of Section-3*/
	.third-section{
		display: flex;
		flex-direction: row;
		padding: 45px 10px 35px;
		flex-shrink: 1;
		justify-content: space-between;
		color: #fff;
		text-align: left;
	}
	.err{margin-top: -56px}
	.info h2{
		margin-top: 20px;
	}
.credentials{
	width: 100%;
	height: 100px;
	display: flex;
	color: #fff;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	background: grey;
}

/*End of Section-3*/
/*footer section*/
footer{
	height: 380px;
	display: flex;
	justify-content: space-between;
	background-color: #2f2b37;
	color: #fff;
	padding: 20px;
	flex-wrap: wrap;
	flex-shrink: 1;
	align-items: flex-end;
}
.footer{
	height: 100%;
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: space-between;
}
footer ul {
	display: flex;
	flex-shrink: 1;
	flex-wrap: wrap;
}
ul li i{
	transition: all .6s ;
}
footer ul li{
	list-style: none;
	margin-left: 16px;

}
ul li i:hover{
	transform: scale(1.2);
	color: #1e9ee0;
}
footer div{

}
footer p{
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	text-align:center;
}
/*End of Footer*/
