/*Genral Style Rules*/
*{
	margin: 0;

}
html{
	font:normal 16px sans-serif;
	color: #555;
}
body{
		/*background-color: #2f2b37;*/
		background-color: #fff;

}

nav{
	display: flex;
	color:white;
}

header h2{
	padding: 20px 20px;
}
a{
	color: #fff;
	text-decoration: none;
	opacity: 1;
}
a:hover{
	opacity: 1;
	color: #fff;
	text-decoration: none;
}
/*Styling the Header*/
#icon{
	width: 180px;
}
header{
	/*background:#14182f;*/
	color: #fff;
	position: sticky;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	opacity: 0;
	/*padding: 35px 100px 0;*/
	animation:1s 0.5s fadein forwards;
}
p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 300;
}
li a { display: block; }
li:hover a {
    color: inherit;
}
.nav-link{
	list-style: none;
	align-content: center;
}
.link-color{
	color: #000;
}
.nav-a-link{

	padding: 20px 6px;
	width: 100%;
	height: 100%;
}
.nav-link:hover{
	cursor: pointer;
	color:#fff;
	background-color: #5bc6e4d4;
	transition: all .6s;
}
/*Declaring all the Animations together*/
@keyframes fadein{
	100%{
		opacity: 1;
	}
}
/*End of all the Animation Declarations*/
header nav{
	display: flex;
}
header h2{
	font-family: "Quicksand", sans-serif;
}
/*End of Header Styling*/
/*Sticky class for Header*/
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background:#000000;
  color: #fff;
}

/* Add some top padding to the page content to prevent sudden quick movement 
(as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
/**/
/*Hero area*/
a.btn{
	/*transform: rotate(-15deg);*/
	border-radius: 4px;
	font-weight: bold;
	background:#14182f;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 3px 3px 9px 2px #14182f;
	opacity: 1;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 80px;

}
section p{
	max-width: 750px;
	line-height: 2;
	text-align:center;
	padding: 0 30px;
	margin-bottom: 30px;
}
.hero{
	color: #fff;
	position: relative;
	text-align: center;
	align-items: center;
	height: 100%;
}
.hero-sec{
	z-index: 0;
	height: 500px;
	width: 100%;
	padding: 0;
	margin-top: -99px;
}
.hero-img{
	width: 100%;
	height: 100%;
}
.hero-ul{
	margin:10px 20px;
	/*background-color: #b5b5b5;*/
	display: flex;
	align-items: center;
	list-style: none;
}
.hero-ul li{
	margin: 10px 20px;
}
.hero-twitter{color:#1e9ee0 ;}
.hero-facebook{color: #0d5292fc;}
.hero-instagram{color:#a51697fc ;}
.capt{color: #000000;}
.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	opacity: .3;
	background-color: #b5b5b5;
}
.back{
	opacity: 0.5;
}
.hero h1{
	    color: #90cbff;
	    background: #000;
	    /*transform: rotate(-15deg);*/
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	background: #000;
	    /*transform: rotate(-15deg);*/
	    color: #90cbff;
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}


.hero .btn{
	padding: 20px 40px;
}
.hero-content-area{
	opacity: 0;
	margin-top: 120px;
	animation:slide-up 1s 0.4s ease-out forwards;
}
@keyframes slide-up{
	100%{
		opacity: 1;
		margin: 0px;
	}
}
/*End of Hero Section*/
/*Image Slider*/
#slider-section{
	margin-top: 90px;
	background-color: #ba270ced;
	padding: 10px 10px;
}

.carousel{
	width: 100%;
	margin: 20px auto;
	height: 650px;
	z-index: 0;
	flex-shrink: shrink;
	min-width: 500px;
	/*overflow: hidden;*/
	box-shadow: 0px 3px 7px 1px;
}
.carousel-inner{
	max-width: 100%;
	max-height: 100%;
}
.carousel-item img{
	width: 100vw;
	height: 100vh;
}
.carousel-caption{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 18px;
	color: #000;
	margin: 50px auto;
	font-weight: bold;
	padding: 10px 150px;
}
.carousel-caption p{font-family: 'Rubik', sans-serif;}
.info{
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .1rem;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.51rem;
	color: #fff;
}
/*End of Image Slider Section*/
section:not(.hero):nth-child(odd){
	background-color: #ba270ced;
}
section:not(.hero):nth-child(even){
	background-color: #2f2b37;
}
/*Begin of Section-3*/
	.third-section{
		display: flex;
		flex-direction: row;
		padding: 45px 10px 35px;
		flex-shrink: 1;
		justify-content: space-between;
		color: #fff;
		text-align: left;
		align-items: baseline;
	}

	.info h2{
		margin-top: 20px;
	}
.credentials{
	width: 100%;
	height: 150px;
	display: flex;
	color: #fff;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	background: #666666;
}
div.h2{
	text-align: center;
}

/*End of Section-3*/
/*footer section*/
footer{
	height: 300px;
	display: flex;
	justify-content: space-between;
	background-color: #2f2b37;
	color: #fff;
	padding: 20px;
	flex-wrap: wrap;
	flex-shrink: 1;
	align-items: flex-end;
}
.footer{
	height: 100%;
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: space-between;
}
footer ul {
	display: flex;
	flex-shrink: 1;
	flex-wrap: wrap;
}
ul li i{
	transition: all .6s ;
}
footer ul li{
	list-style: none;
	margin-left: 16px;

}
.email{
	text-transform: lowercase;
}
/*End of Footer*/
/*Social Media Icons*/
.fa-twitter-square:hover{transform: scale(1.1); color:#1e9ee0 ;}
.fa-facebook-square:hover{transform: scale(1.1); color: #0d5292fc;}
.fa-instagram:hover{animation:zoom-in-out 0.2s forwards; color: #a51697fc;}
@keyframes zoom-in-out{
	100%{
		transform: scale(1.17);
	}
}

/*End of Social media icons*/
footer div{

}
footer p{
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	text-align:center;
}
/*End of Footer*/



















/*BEGIN STYLING TEAM PAGE*/
	.leader-image{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		align-items: center;
		margin: 20px auto;

	}
	.leader{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.leader img{
		width: 290px;
		height: 250px;
		border-radius: 50%;
		align-self: center;
		padding: 20px 30px;
		
	}
	.leader-image{
		display: flex;
		justify-content: center;
	}
	#leader-section{
		background-color: red;
	}
	.leader *{color: white;}
	.main-leader{

	}
/*END STYLING TEAM PAGE*/


/*BEGIN STYLING SPONSOR SECTION*/
	.sponsor-section{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-left: 15%;
	}
	.sponsor{
		width: 50%;
		min-height: 50%;
		border-radius: 50%;
	}
	.sponsor-div{
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: center;
		flex-basis: 35%;
	}
	.sponsor-div h5{
		padding: 10px;
		color: #fff;
		padding-right: 25px;
		margin-right: 50%;
		margin-top: 20px;
	}
/*BEGIN STYLING SPONSOR SECTION*/






